.Race {
  width: 100%;
  max-width: 460px;
  margin: 0.5rem auto;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0;
}

.Race .header {
  background-color: lightblue;
  margin: 0;
  padding: 0.5rem;
}

.Race .raceNumber {
  margin: 0;
}

.Race .raceName {
  margin: 0;
}

.Race .raceStartTime {
  margin: 0.5rem 0;
}


.Race .arrow {
  float: right;
  padding: 0.5rem;
}