.Start {
  width: 100%;
  max-width: 400px;
  margin: 0.5rem auto;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0;
}

.Start h3 {
  background-color: lightblue;
  padding: 0.5rem 1rem;
  margin: 0;
}

.Start p {
  padding: 0.5rem 0;
  margin: 0;
}

.Start p:nth-child(odd) {
  background-color: rgb(211, 233, 240);
}

.Start .arrow {
  float: right;
  padding: 0.5rem;
}